:root {
  --main-color: purple;
}

.container > div {
  height: 100%;
}

html,
body {
  height: 100%;
  display: grid;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  display: grid;
  grid-template-columns: 1.2fr 4fr;
  grid-template-rows: 150px auto;
  text-align: center;
  min-height: 100vh;
  height: 100%;
}

nav {
  background-color: var(--main-color);
  color: white;
  display: grid;
  grid-row: 1 / span 2;
  font-size: 25px;
  grid-template-rows: 150px 500px;
}
.logo {
  width: 50px;
  min-width: 25px;
  height: 50px;
  min-height: 25px;

}
.dashboard {
  color: white;
  display: flex;
  gap: 12px;
  margin: 20px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.menu svg {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  fill: white;
}
.menu {
  display: grid;
  margin: 5px;
}
.menu ul {
  text-align: start;
  padding: 20px;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu li {
  padding: 10px;
}
li:hover {
  background-color: white;
  color: var(--main-color);
}
li:hover svg {
  fill: var(--main-color);
}

header {
  background-color: rgb(219, 208, 194);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.search-icon {
  width: 25px;
  position: absolute;
  right: 10px;
}
.search-input {
  width: 750px;
  height: 15px;
  border-radius: 25px;
  padding: 8px;
  outline: none;
  border: none;
  background-color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 15px;
  margin-left: 45px;
  position: relative;
}
.name {
  grid-row: 2;
}

#primery-links {
  border-bottom: 1px solid white;
}
.bell-logo {
  width: 25px;
  height: 25px;
  fill: var(--main-color);
}
.bell-logo:hover {
  transform: scale(1.2);
}
svg {
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  grid-column: 2;
}
.github-logo {
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  width: 45px;
  height: 45px;
  fill: purple;
}

.github-logo:hover {
  transform: rotate(360deg);
}
.profile-name {
  font-size: 28px;
  font-weight: 400;
}

.goblin {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.name {
  display: flex;
  align-items: center;
  margin-left: 100px;
  gap: 18px;
  font-size: 16px;
}
.action-btns {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  font-size: 25px;
}
.ActionButton {
  padding: 8px 23px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
}
.ActionButton:hover {
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
.myname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#myname {
  font-size: 26px;
  font-weight: 100;
}

.main-grid {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
  grid-template-rows: 500px 1fr;
  background-color: white;
  gap: 10px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row: 1/3;
  gap: 25px;
  margin: 18px;
  background-color: white;
}

.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 26px;
  transition: all 0.2s ease-in-out;
  width: 390px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  align-items: stretch;
  grid-template-rows: auto 12px;
}
.card-color {
  background-color: var(--main-color);
  width: 8px;
  border-radius: 5px 0 0 5px;
}

footer {
  padding: 20px;
  background-color: rgb(219, 208, 194);
  grid-column: 1/3;
}

.announcements {
  display: grid;
  grid-template-columns: minmax(50px, auto);
  grid-column: 2;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 26px;
  margin: 10px;
  background-color: white;
  display: grid;
}
.ann-items {
  padding: 5px;
  margin: 8px;
  border-radius: 10px;
  border-bottom: 1px solid purple;
}

.trendings {
  display: grid;
  grid-template-columns: minmax(50px, auto);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 26px;
  margin: 10px;
  grid-column: 2;
  background-color: white;
}
.trend-items {
  padding: 5px;
  margin: 8px;
  border-bottom: 1px solid purple;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
  margin: 12px;
}
.trend-items-text {
  text-align: left;
  font-size: 20px;
}
.trend-items-text h6 {
  font-size: large;
}

.trend-items-text span {
  color: #7f7a7a;
}

.trend-items svg {
  width: 65px;
  display: flex;
  justify-self: start;
  fill: teal;
}

h3 {
  background-color: rgb(219, 208, 194);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}
