:root {
  --main-color: purple;
}

.container > div {
  height: 100%;
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.container { 
  display: grid;
  grid-template-columns: 1fr repeat(1, minmax(250px, 4fr));
  grid-template-rows: 150px auto;
  text-align: center;
  min-height: 100vh;
  height: 100%;
}

nav {
  background-color: var(--main-color);
  color: white;
  display: grid;
  grid-row: 1 / span 2;
  font-size: 25px;
  grid-template-rows: 100px 500px;
}
.logo {
  width: 50px;
  height: 50px;
}
.dashboard {
  color: white;
  display: flex;
  gap: 12px;
  margin: 20px;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.menu svg {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  fill: white;
}
.menu {
  display: grid;
  margin: 5px;
}
.menu ul {
  text-align: start;
  padding: 20px;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu li {
  padding: 10px;
}
li:hover {
  background-color: white;
  color: var(--main-color);
}
li:hover svg {
  fill: var(--main-color);
}

header {
  background-color: bisque;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.search-icon {
  width: 25px;
  position: absolute;
  right: 10px;
}
.search-input {
  width: 750px;
  height: 15px;
  border-radius: 25px;
  padding: 8px;
  outline: none;
  border: none;
  background-color: white;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 15px;
  margin-left: 45px;
  position: relative;
}
.name {
  grid-row: 2;
}

#primery-links {
  border-bottom: 1px solid white;
}
.bell-logo {
  width: 25px;
  height: 25px;
  fill: var(--main-color);
}
.bell-logo:hover {
  transform: scale(1.2);
}
svg {
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  grid-column: 2;
}
.github-logo {
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  width: 45px;
  height: 45px;
  fill: purple;
}

.github-logo:hover {
  transform: rotate(360deg);
}
.profile-name {
  font-size: 28px;
  font-weight: 400;
}

.goblin {
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.name {
  display: flex;
  align-items: center;
  margin-left: 100px;
  gap: 18px;
  font-size: 16px;
}
.action-btns {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  font-size: 25px;
}
.ActionButton {
  padding: 8px 23px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
}
.ActionButton:hover {
 background-color: white;
 color: var(--main-color);
 border: 1px solid var(--main-color);
}
.myname {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#myname {
  font-size: 26px;
  font-weight: 100;
}

.main-grid {
  display: grid;
  grid-template-columns: 2.4fr 1fr;
  background-color: rgb(35, 30, 30);
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  grid-row: 1/3;
  gap: 25px;
  margin: 18px;
}
.announcements {
  border: 1px solid var(--main-color);
  margin: 10px;
  background-color: bisque;
  display: grid;
}
.trendings {
  border: 1px solid var(--main-color);
  margin: 10px;
  display: grid;
  grid-column: 2;
  background-color: bisque;
}
.card {
  background-color: bisque;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 24px;
  transition: all 0.2s ease-in-out;
  width: 390px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  align-items: stretch;
  grid-template-rows: auto 12px;
}
.card-color {
  background-color:var(--main-color) ;
  width: 8px;
  border-radius: 5px 0 0 5px;
}
.pro-name {
  position: absolute;
  margin-left: 140px;
  font-size: 24px;
  color: purple;
  justify-self: center;
}

#card-img {
  width: 280px;
  height: 200px;
  margin: 16px;
  padding: 18px;
  overflow: hidden;
  border-radius: 10px;
}
#card-img:hover {
  transform: scale(1.04);
}
footer {
  padding: 20px;
  background-color: bisque;
  grid-column: 1/3 ;
}

