:root {
  --main-color: rgb(253, 93, 35);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px auto;
  text-align: center;
  height: 100vh;
}

nav {
  background-color: rgb(253, 93, 35);
  color: white;
  display: grid;
  grid-row: 1 / span 2;
  font-size: 25px;
  grid-template-rows: 100px 500px;
}
.logo {
  width: 50px;
  height: 50px;
}
.dashboard {
  display: flex;
  gap: 12px;
  margin: 20px;
  align-items: center;
  cursor: pointer;
}
.menu svg {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  fill: white;
}
.menu {
  display: grid;
  margin: 5px;
}
.menu ul {
  text-align: start;
  padding: 20px;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.menu li {
  padding: 6px;
}

header {
  background-color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.search-icon {
  width: 35px;
}
.search-input {
  width: 850px;
  height: 20px;
  border-radius: 40px;
  padding: 8px;
  outline: none;
  border: none;
  background-color: gainsboro;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 5px;
}
.name {
  grid-row: 2;
}
.main-grid {
  display: grid;
  background-color: gainsboro;
}

#primery-links {
  border-bottom: 1px solid white;
}
.bell-logo {
  width: 35px;
  height: 35px;
}
svg {
  cursor: pointer;
}
.user {
  display: flex;
 align-items: center;
  justify-content: center;
  gap: 18px;
  grid-column: 2;
}
.github-logo {
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
  width: 60px;
  height: 60px;
  fill: purple;
}

.github-logo:hover {
  transform: rotate(360deg);
}
.profile-name {
  font-size: 25px;
}